.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main {
  margin: 30px;
}

.namebook-light {
  margin: 30px;
}

.namebook-light > input {
  margin: 10px;
}

.namebook-dark {
  margin: 30px;
  background: black;
  color : #61dafb;
}

.namebook-dark > input {
  margin: 10px;
}

.theme-toggle {
  position: fixed;
  margin : 30px;
  top : 0;
}

.theme-toggle > button {
  margin : 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
